<div class="content-wrapper" articleId="{{articleId}}">
    <div class="user-info">
        <div id="user-img" class="img-circle" style="background-image: url({{userImg}})"></div>
        <div id="user-name">{{uid}}</div>
        <ul class="user-achievement">
            {{~#each achievement~}}
                <li class="achievement-icon" style="background-image: url({{emblem}})">
                    <span class="achievement-tooltip">{{achieve}}</span>
                </li>
            {{~/each~}}
        </ul>
        <div class="card-setting">
            <i class="fa fa-ellipsis-v"></i>
            <div class="setting-menu">
                <button id="update-article-{{articleId}}">수정</button>
                <button id="delete-article-{{articleId}}">삭제</button>
            </div>
        </div>
    </div>
    <div class="food-img-wrapper">
        {{~#each imgs}}
            <img id="food-img-{{imgId}}" class="img-responsive" src='{{path}}'>
        {{/each}}
    </div>
    <div class="food-text">
        {{~#each menus~}}
            <li class="food-eaten">{{menu}} {{price}}원</li>
        {{~/each~}}
        <div class="food-detail card-closed">
            {{{comment}}}
            <div class="food-tag">
                {{~#each tags~}}
                    <li>#{{tag}}</li>
                {{~/each~}}
            </div>
        </div>
    </div>
    <ul class="food-icon">
        <li>
            <i class="food-like fa fa-heart-o"></i>
            <span class="food-like-count" style="font-size: 12px;font-weight: bold;">{{likes}}</span>
        </li>
        <li>
            <i class="food-trash fa fa-trash-o"></i>
            <span class="food-trash-count"
                  style="color: #666;font-size: 12px;font-weight: bold;">{{hate}}</span>
        </li>
        <li><i class="food-report fa fa-ban"></i></li>
    </ul>
    <a class="btn-more">더 보기</a>
</div>