<div class="content-wrapper" articleId="{{articleId}}">
    <div class="user-info" uid="{{uid}}">
        <div id="user-img" class="img-circle" style="background-image: url({{avatar}})"></div>
        <div id="user-name">{{nick}}</div>
        <ul class="user-achievement">
            {{~#each emblems~}}
                <li class="achievement-icon" style="background-image: url({{img}})">
                    <span class="achievement-tooltip">{{howAchieve}}</span>
                </li>
            {{~/each~}}
        </ul>
        <div class="card-setting">
            <i class="fa fa-ellipsis-v"></i>
            <div class="setting-menu">
                <button id="update-article-{{articleId}}">수정</button>
                <button id="delete-article-{{articleId}}">삭제</button>
            </div>
        </div>
    </div>
    <div class="food-img-wrapper">
        {{~#each imgs~}}
            <div id="food-img-tag-{{articleId}}-{{imgId}}" class="food-img-tag">
                <img id="food-img-{{articleId}}-{{imgId}}" class="img-responsive" src='{{path}}'>
                <div id="food-menus-{{articleId}}-{{imgId}}" class="food-menus">
                    {{#each menus}}
                        <div id="menu-tag-{{articleId}}-{{imgId}}-{{id}}" class="detail-menu-tag"
                             style="position: absolute; top: {{y}}px; left: {{x}}px">
                            {{~menu~}}
                        </div>
                    {{/each}}
                </div>
            </div>
            {{~#each menus~}}
                <li class="food-eaten">{{menu}} {{price}}원</li>
            {{~/each~}}
        {{~/each~}}
    </div>
    <div class="food-text">
        <div class="food-detail card-closed">
            {{{comment}}}
            <div class="food-tag">
                {{~#each tags~}}
                    <li>#{{tag}}</li>
                {{~/each~}}
            </div>
        </div>
    </div>
    <ul class="food-icon">
        <li>
            <i class="food-like fa fa-heart-o"></i>
            <span id="likes-{{articleId}}" class="food-like-count"
                  style="font-size: 12px;font-weight: bold;">{{likes}}</span>
        </li>
        <li>
            <i class="food-trash fa fa-trash-o"></i>
            <span class="food-trash-count"
                  style="color: #666;font-size: 12px;font-weight: bold;">{{hate}}</span>
        </li>
        <li><i class="food-report fa fa-ban"></i></li>
    </ul>
    <a class="btn-more">더 보기</a>
</div>
