<div class="content-wrapper">
    <div class="user-info">
        <div id="user-img" class="img-circle" style="background-image: url({{userImg}})"></div>
        <div id="user-name">{{userName}}</div>
        <ul class="user-achievement">
            {{~#each achievement~}}
                <li>{{emblem}}</li>
            {{~/each~}}
        </ul>
    </div>
    <img id="food-img" class="img-responsive" src='{{foodImg}}'>
    <div class="food-text">
        <div class="food-eaten">{{eaten}}</div>
        <div class="food-detail">
            {{{detail}}}
            <div class="food-menu">
                {{~#each menu~}}
                    <li>#{{item}}</li>
                {{~/each~}}
            </div>
            <ul class="food-icon">
                <li><i class="food-like fa fa-heart-o"></i></li>
                <li><i class="food-trash fa fa-trash-o"></i></li>
                <li><i class="food-report fa fa-ban"></i></li>
            </ul>
        </div>
    </div>
    <a class="btn-more">더 보기</a>
</div>