<li class="bookmark-list">
    <div class="bookmark-photo">
        <img src="{{thumbnail}}">
    </div>
    <div class="bookmark-element">
        <div class="store-name">
            {{title}}
        </div>
        <div class="country-food">
            <img src="{{flag}}" class="flag">
            /
            <img src="{{foodIcon}}" class="flag">
        </div>
        <button class="btn-bookmark">
            <i class="bookmark-btn fa fa-bookmark"></i>
        </button>
        <div class="commentary">
            {{comment}}
        </div>

    </div>
</li>
