<li>
    <div class="card-contents-img">
        <img src="{{mainImg}}">
    </div>
    <div class="card-contents">
        <div class="card-contents-sort">
            <div class="card-contents-sort-where">
                <img src="{{nationalIcon}}">
            </div>
            /
            <div class="card-contents-sort-what">
                <img src="{{foodIcon}}">
            </div>
        </div>
        <div class="card-contents-title">
            {{title}} ({{count}})
        </div>
        <ul class="card-contents-tags">
        </ul>
    </div>
</li>