<li uid="{{id}}">
    <div class="card-img" style="background-image: url({{mainImg}})">
    </div>
    <div class="card-contents">
        <div class="card-contents-favorite">
            <i class="fa fa-star-o"></i>
        </div>
        <div class="card-contents-title">
            {{title}} ({{count}})
        </div>
        <ul class="card-contents-tags">
            {{#each tag}}
                <li>#{{item}}</li>
            {{/each}}
        </ul>
    </div>
</li>