<div class="rest-info-wrapper">
    <div class="rest-photo" style="background-image: url({{shopPhoto}})"></div>
    <ul class="rest-info">
        <li>주소 : {{lat}}, {{lng}}</li>
        <li>전화번호 : {{phone}}</li>
        <li>영업시간 : {{bh}}</li>
        <li>대표메뉴 : {{rm}}</li>
        <li>상태 : {{status}}</li>
    </ul>
</div>