<div class="rest-info-wrapper">
    <div class="rest-photo" style="background-image: url({{photo}})"></div>
    <ul class="rest-info">
        <li>주소 : {{address}}</li>
        <li>전화번호 : {{phone}}</li>
        <li>영업시간 : {{operating}}</li>
        <li>대표메뉴 : {{signature}}</li>
        <li>상태 : {{status}}</li>
    </ul>
</div>