{{#each this~}}
<tr>
    <td>{{sum @index 1}}</td>
    <td>{{uid}}</td>
    <td>{{email}}</td>
    <td>{{nick}}</td>
    <td>{{createDt}}</td>
    <td>{{phone}}</td>
    <td>{{count}}</td>
    <td>{{info}}</td>
    <td>{{leave}}</td>
</tr>
{{/each}}