{{#each this~}}
<tr>
    <td class="text-center">{{sum @index 1}}</td>
    <td class="text-center">{{rid}}</td>
    <td>{{name}}</td>
    <td class="text-center">{{count}}</td>
    <td>{{address}}</td>
    <td class="text-center">{{phone}}</td>
    <td class="text-center">{{operating}}</td>
    <td class="text-center">{{signature}}</td>
    <td class="text-center">{{status}}</td>
    <td class="edit-button">
        <button restId="{{rid}}" class="rest-edit-btn btn btn-default btn-sm">수정</button>
    </td>
</tr>
{{/each}}