{{#each this~}}
<tr>
    <td>{{sum @index 1}}</td>
    <td>{{rid}}</td>
    <td>{{name}}</td>
    <td>{{count}}</td>
    <td>서울특별시 서대문구 창천동 123-24 ㅇㅇ빌딩 2층</td>
    <td>02-866-1234</td>
    <td>08:00 ~ 22:00</td>
    <td>고라멘</td>
    <td>
        <button restId="{{rid}}" class="btn btn-default btn-sm">수정</button>
    </td>
</tr>
{{/each}}