<li class="bookmark-list" rid="{{rid}}">
    <div class="bookmark-photo" style="background-image: url({{path}})">
        <div class="bm-dark-layer"></div>
        <div class="bookmark-element">
            <div class="store-name">
                {{name}}
            </div>
            <div class="btn-bookmark">
                <i class="bookmark-btn fa fa-star"></i>
            </div>
            <div class="bookmark-address">
                {{address}}
            </div>
            <div class="commentary-container">
                <ul class="commentary">
                    {{#each tag}}
                        <li>#{{item}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="location-info" lat="{{lat}}" lng="{{lng}}"></div>
</li>
