<li class="detail-list" rid="{{rid}}">
    <div class="detail-review-top">
        <div class="store-title">
            {{name}}
        </div>
        <div class="store-address">
            {{address}}
        </div>
    </div>
    <div class="store-detail">
        {{review}}
    </div>
    <a class="btn-goDetail" rid="{{rid}}">
        {{name}} 더보기
    </a>
</li>