<li>
    <div class="rb-wrapper" rid="{{rid}}">
        <div class="rb-order">{{rank}}</div>
        <div class="rb-dark-layer"></div>
        <div class="rb-img" style="background-image: url({{img}})"></div>
        <div class="rb-contents">
            <div class="rbc-title">
                {{name}}
            </div>
            <div class="rbc-count">
                <i class="fa fa-child"></i>
                {{~count~}}
            </div>
        </div>
    </div>
</li>