<li>
    <div class="rb-wrapper" uid="{{id}}">
        <div class="rb-order">{{ORDER}}</div>
        <div class="rb-dark-layer"></div>
        <div class="rb-img" style="background-image: url({{mainImg}})"></div>
        <div class="rb-contents">
            <div class="rbc-title">
                {{title}}
            </div>
            <div class="rbc-count">
                <i class="fa fa-child"></i>
                {{count}}
            </div>
        </div>
    </div>
</li>