<li rid="{{id}}">
    <div class="card-img" style="background-image: url({{mainImg}})">
    </div>
    <div class="card-contents">
        <!-- 즐겨찾기 버튼 -->
        <div class="card-contents-favorite">
            <i class="fa fa-star-o"></i>
        </div>
        <div class="card-contents-title">
            {{title}}
        </div>
        <div class="card-contents-count">
            [ {{count}} ]
        </div>
        <!-- 맛집 관련 태그 (한줄) -->
        <ul class="card-contents-tags">
            {{#each tag}}
                <li>#{{item}}</li>
            {{/each}}
        </ul>
        <div class="card-update-date">
            최신 업데이트 시간 : {{updateDt}}
        </div>
    </div>
    <div class="locationContainer" lat="{{lat}}" lng="{{lng}}"></div>
</li>