<li class="menu-tag" draggable="true" menu-num="{{menuNum}}" style="top: {{y}}; left: {{x}}">
    <div class="menu-tag-cage">
        <input class="menuInputText" type="text" value="{{menu}}">
        <input class="menuInputNumber" type="number" value="{{price}}">
        <i class="menu-btn-delete fa fa-minus"></i>
    </div>
</li>